

        <!--Dropdown menu to search through initiatives types-->
        <div class="col s6">
            <h2>initiative Types</h2>
            <form action="{{ url_for('initiative_action') }}" method="POST">
                <div class="input-field">
                    <select multiple id="categories" name="initiative_type">
                        <option value="" disabled selected>Click to Select</option>
                        {% for category in categories %}
                        <option value="{{category.initiative_type}}">{{category.initiative_type}}</option>
                        {% endfor %}
                    </select>
                </div>

                <button class="btn waves-effect waves-light" type="submit" name="action">Search
                    <i class="material-icons right">search</i>
                </button>
            </form>
        </div> 
        <!--End of allergen selector-->
            
        <!--Dropdown menu to search through initiative object-->
        <div class="col s6">
            <h2>Initiative objects</h2>
            <form action="{{ url_for('search_for') }}" method="POST">
                <div class="input-field">
                    <select multiple id="goods_services" name="initiative_object">
                        <option value="" disabled selected>Click to Select</option>
                        {% for good in goods_services %}
                        <option value="{{good.initiative_object}}">{{good.initiative_object}}</option>
                        {% endfor %}
                    </select>
                </div>

                <button class="btn waves-effect waves-light" type="submit" name="action">Search
                    <i class="material-icons right">search</i>
                </button>
            </form>
        </div> 
        <!--End of allergen selector-->


# Search for circular action
@app.route('/search_for', methods=['GET', 'POST'])
def search_for():
    categories = request.form.getlist('categories')
    query = ( { 'categories': { '$in': categories} } )
    results = mongo.db.circular_initiative.find(query)
    return render_template('view.html', 
    circular_initiative=results, count=results.count())


# Search for recipes suitable for restricted diets
@app.route('/initiative_action', methods=['GET', 'POST'])
def initiative_action():
    goods_services = request.form.getlist('goods_services')
    query = ( { 'goods_services': { '$in': goods_services} } )
    results = mongo.db.recipes.find(query)
    return render_template('view.html', 
    circular_initiative=results, count=results.count())