
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Chathura:100,300,400,700,800|Economica:400,400i,700,700i|Khand:300,400,500,600,700|Londrina+Outline');

/*---------------------Base.html*/
body {
    margin: 0;
    font-family: 'Khand', sans-serif;
    font-size: 20px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: #FF5252;
    border-radius: 0px;
}

nav ul a, nav .brand-logo {
    color: black;
    max-height: 64px;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive; 
}

nav .brand-logo {
    font-family: 'Bebas Neue', cursive; 
    margin-right: 18px;
}

#logo {
    height: 45px;
    width: 45px;
    margin: 8px;
    transition: 0.4s;
    border-radius: .25rem;
}

#logo:hover {
    transform: scale(0.9, 0.9);
}


.underline {
    margin: 0;
    text-decoration-line: underline;
    -webkit-text-decoration-color: #FF5252;
    text-decoration-color: #FF5252;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink;
}


/*-----------------Index.html*/

h1#title {
    font-family: 'Bebas Neue', cursive;
    margin: 250px 0 0; 
    text-align: center
}

#search-box {
    margin-bottom: 180px;
}

#searchTerm {
    width: 300px;
}

button#search-btn {
    font-size: 20px;
    padding: 0 10px 10px;
}

#red-wood {
    background: url("../img/red-wood.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
    overflow: hidden;
    margin: 0;
    background-attachment: fixed;
    top: 100%;
}


/*-------------------View.html*/

#initiative-type-list {
    margin: 50px 0 50px;
    text-align: center;
}

#music, #clothes, #bikes, #electronics, #books, #home, #show-all {
    background-color: white;
    color: #FF5252;
}

.container {
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    height: 500px;
    margin: 5% auto;
}

.card .card-content {
    padding: 0;
}

.card-title {
    font-family: 'Bebas Neue', cursive;
    padding: 30px 20px;
}

#initiative-type {
    text-align: right;
    color: white;
    padding: 5%;
    margin-bottom: 10px;
}

#init-description {
    font-size: 16px;
    padding: 10px 20px;
}

#init-object {
    position: absolute;
    bottom: 15%;
    padding: 0;
    margin: 10px 15px;
}

.chip {
    min-height: 32px;
    min-width: 60px;
    margin: 5px 0;
}

.chip>img {
    min-height: 32px;
    min-width: 32px;
    border-radius: 0;
}

#website {
    bottom: 0;
    font-size: 16px;
    padding: 30px;
    position: absolute;
    color: teal;
}

/*-------------Add and Edit form page----*/

h1#add-init {
    font-family: 'Bebas Neue', cursive;
    margin: 100px 0 20px; 
    text-align: center
}

p#add-init {
    text-align: center;
    margin: 0 100px 100px;
}


#form-style {
    text-align: center;
    min-height: 600px; 
    margin: 0 20%; 
}

#form-img {
    height: 50px;
    margin: 10px;
}

.row {
    margin: 80px;
}


