
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Chathura:100,300,400,700,800|Economica:400,400i,700,700i|Khand:300,400,500,600,700|Londrina+Outline');

/*---------------------Base.html*/
body {
    margin: 0;
    font-family: 'Khand', sans-serif;
    font-size: 20px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: #FF5252;
    border-radius: 0px;
}


nav ul a, nav .brand-logo {
    color: black;
    max-height: 64px;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive; 
}

.mobile-nav {
    font-size: 20px !important;
    opacity: 0.9;
}

#sidenav-overlay {
    position: unset;
}

.side-nav {
    width: 200px;
}

nav .brand-logo {
    font-family: 'Bebas Neue', cursive; 
    margin-right: 10px;
}

#logo {
    height: 45px;
    width: 45px;
    margin: 8px;
    transition: 0.4s;
    border-radius: .25rem;
}

#logo:hover {
    transform: scale(0.9, 0.9);
}

.underline {
    margin: 0;
    text-decoration-line: underline;
    -webkit-text-decoration-color: #FF5252;
    text-decoration-color: #FF5252;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink;
}

.row {
    margin: 80px;
}


/*-----------------Index.html*/

h1#title {
    font-family: 'Bebas Neue', cursive;
    margin: 200px 0 0; 
    text-align: center
}

#search-box {
    margin-bottom: 180px;
}

#searchTerm {
    width: 300px;
}

#search-btn {
    height: 50px;
    min-width: 140px;
    font-size: 18px;
}


/*-------------------View.html*/

#initiative-type-list {
    margin: 50px 0 50px;
    text-align: center;
}

#music, #clothes, #bikes, #electronics, #books, #home, #show-all {
    background-color: white;
    color: #FF5252;
    margin: 5px;
}

.container {
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    height: 400px;
    margin: 5% auto;
}

.card .card-content {
    padding: 0;
}

.card-title {
    font-family: 'Bebas Neue', cursive;
    padding: 30px 20px;
}

#modal-title {
    padding: 0 0 30px;
}

#initiative-type {
    text-align: right;
    color: white;
    padding: 5%;
    margin-bottom: 10px;
}

#init-description {
    font-size: 16px;
    padding: 10px 20px;
}

#init-object {
    position: absolute;
    bottom: 15%;
    padding: 0;
    margin: 10px 15px;
}

.chip {
    min-height: 32px;
    min-width: 60px;
    margin: 5px 0;
}

.chip>img {
    min-height: 32px;
    min-width: 32px;
    border-radius: 0;
}

#website {
    bottom: 0;
    font-size: 16px;
    padding: 30px;
    position: absolute;
    color: teal;
}

#edit-btns {
    background-color: #FF5252;
}

.modal-content {
    font-size: 18px; 
}

/*-------------Add and Edit form page----*/

h1#add-init {
    font-family: 'Bebas Neue', cursive;
    margin: 100px 0 20px; 
    text-align: center
}

p#add-init {
    text-align: center;
    margin: 0 20% 100px;
}


#form-style {
    text-align: center;
    min-height: 600px; 
    margin: 0 20%; 
}

#form-img {
    height: 50px;
    margin: 10px;
}


/*----------------footer--*/

#red-wood {
    background: url("../img/red-wood.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
    overflow: hidden;
    margin: 0;
    background-attachment: fixed;
    top: 100%;
    text-align: center;
}

#author, #author a {
    font-size: 14px;
    word-spacing: 2px;
    color: white;
    text-decoration: none;
}

#author {
    margin-top: 10%;
}

#author a:hover {
    text-decoration: none;
    color: #134f5cff;
    cursor: pointer;
}

.social-links a {
    padding:0;
    margin: 0%;
}

.social-links a i:hover {
    background: #134f5cff;
    color: #fafafa;
}

.social-links a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    margin-right:5px;
    font-size: 20px;
    line-height: 8px;
    text-align: center;
    color: #134f5cff;
    background: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    box-shadow: 0 8px 8px 0px rgba(0, 0, 0, 0.19);
}


/*-----------mobile view--*/

@media screen and (max-width: 450px){
    .row {margin: 40px 10px}
    h1#title {margin: 100px 0 0; font-size: 50px}
    #red-wood {height: 100px}
    #form-style {margin: 10%}
    h1#add-init {font-size: 40px; margin: 20% 5% 10%}
    p#add-init {font-size: 20px; margin: 0 5% 20%}
    #logo {margin: 5px}
    nav .button-collapse {margin: 0 5px}
}