{% extends 'base.html' %}
{% block content %}
<h1>Add Circular Initiative</h1>

<div class="row">

    <form action="{{ url_for('insert_initiative') }}" method="POST"  class="col s12">

        <div class="row">
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">all_inclusive</i>
                <input id="initiative_name" name="initiative_name" type="text">
                <label for="icon_prefix">Initiative Name</label>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6">
            <h5>What can you do there?</h5>
            <p>
                <input name="initiative_type" type="radio" id="r1" value="Reuse">
                <label for="r1">Reuse</label>
            </p>
            <p>
                <input name="initiative_type" type="radio" id="r2" value="Recycle">
                <label for="r2">Recycle</label>
            </p>
            <p>
                <input name="initiative_type" type="radio" id="r3" value="Repair">
                <label for="r3">Repair</label>
            </p>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">poll</i>
                <select id="goods_services" name="initiative_object" multiple>
                    <option value="" disabled selected>Choose</option>
                    {% for goods in goods_services[0].initiative_object %}
                        <option value="{{goods}}">{{goods}}</option>
                    {% endfor %}
                </select>
                <label>What can you find there?</label>
            </div>
        </div>

        <div class="row">        
            <div class="input-field col s6">
                <i class="material-icons prefix">subject</i>
                <textarea name="initiative_description" id="initiative_description" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Description</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">all_inclusive</i>
                <input id="weblink" name="weblink" type="text">
                <label for="icon_prefix">website</label>
            </div>
        </div>

        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="from_user" value="">Add Initiative
                <i class="material-icons right">playlist_add</i>
            </button>
        </div>

    </form>

</div>


{% endblock %}