<!DOCTYPE html>
<html lang="en">
    <head>
        <META CHARSET="UTF-8">
        <title>a webapp for sustainability</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <script src="https://kit.fontawesome.com/d32fba75b2.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <META NAME="CIRCDATA" CONTENT="Long headed application">
    </head>
    <body>

        <header>
            <div class="navbar-fixed">
                <nav>
                    <div class="nav-wrapper white">
                        <a href="{{url_for('home')}}" class="right brand-logo">circeco.org</a>
                        <a href="{{url_for('home')}}" data-activates="mobile-demo" class="button-collapse"><img id="logo" src="{{ url_for('static', filename='img/navbar_logo.jpg')}}" alt="text"></a>
                        <ul id="nav-mobile" class="left hide-on-med-and-down">
                            <li><a href="{{url_for('home')}}"><img id="logo" src="{{ url_for('static', filename='img/navbar_logo.jpg')}}" alt="text"></a></li>
                            <li><a href="{{url_for('get_circular_initiative')}}">Circular Initiative</a></li>
                            <li><a href="{{url_for('add_initiative')}}">| &nbsp; &nbsp; Add</a></li>
                        </ul>
                        <ul class="side-nav" id="mobile-demo">
                            <li>&nbsp; &nbsp;</li>
                            <li><a href="{{url_for('home')}}" class="mobile-nav">Search</a></li>
                            <li><a href="{{url_for('get_circular_initiative')}}" class="mobile-nav">View</a></li>
                            <li><a href="{{url_for('add_initiative')}}" class="mobile-nav">Add</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        {% block content %}
        {% endblock %}

        <footer>
            <div id="red-wood">
                <p id="author" class="social-links">@copyright 2020 circeco.org - Made by 
                    <a href="https://circeco.github.io/Piero_resume/" target=”_blank”>PieroGrilli</a>
                    <a target="_blank" href="https://www.linkedin.com/in/circeco/">
                        <i class="fab fa-linkedin-in" aria-hidden="true"></i>
                        <span class="sr-only">LinkedIn</span>
                    </a>
                    <a target="_blank" href="https://github.com/circeco">
                        <i class="fab fa-github" aria-hidden="true"></i>
                        <span class="sr-only">GitHub</span>
                    </a>
                </p>
            </div>
        </footer>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    </body>
</html>