<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css"/>

    </head>
    <body>

        <header>
            <div class="navbar-fixed">
                <nav>
                    <div class="nav-wrapper white">
                        <a href="{{url_for('home')}}" class="right brand-logo">circeco.org</a>
                        <a href="{{url_for('home')}}" data-activates="mobile-demo" class="button-collapse"><img id="logo" src="{{ url_for('static', filename='img/navbar_logo.jpg')}}"></a>
                        <ul id="nav-mobile" class="left ">
                            <li><a href="{{url_for('home')}}"><img id="logo" src="{{ url_for('static', filename='img/navbar_logo.jpg')}}"></a></li>
                            <li><a href="{{url_for('get_circular_initiative')}}">Circular Initiative</a></li>
                            <li><a href="{{url_for('add_initiative')}}">| &nbsp; &nbsp; Add</a></li>
                        </ul>
                        <ul class="side-nav" id="mobile-demo">
                            <li><a class="sidenav-close" href="{{url_for('home')}}"><i class="material-icons"></i></a></li>
                            <li><a href="{{ url_for('static', filename='img/navbar_logo.jpg')}}" class="logo"></a></li>
                            <li>Circular Initiative</li>
                            <li><a href="{{url_for('home')}}">Search</a></li>
                            <li><a href="{{url_for('get_circular_initiative')}}">View</a></li>
                            <li><a href="{{url_for('add_initiative')}}">Add</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>


        <section class="cover_section">

        </section>

        <section class="search_section">

        </section>

        <section class="view_section">
            {% block content %}
            {% endblock %}
        </section>

        <section class="add_section">

        </section>

        <footer>
            <div id="red-wood">
            </div>
        </footer>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $(".button-collapse").sideNav();
                $('select').material_select();
                $('.tooltipped').tooltip();
                $('.modal').modal();
            });
        </script>
    
    </body>
</html>