{% extends 'base.html' %}
{% block content %}

    <!--buttons containing initiative type-->
    <div id="initiative-type-list" class="list-group text-center">
        <a href="{{ url_for('initiative_by_object') }}" class="list-group-item list-group-item-action btn btn-secondary bg-dark" id="show-all"><strong>Show All</strong></a>
        <a href="{{ url_for('sort', keyword='music') }}" class="list-group-item list-group-item-action btn btn-secondary bg-dark" id="music"><strong>Music</strong></a>
        <a href="{{ url_for('sort', keyword='books') }}" class="list-group-item list-group-item-action btn btn-secondary bg-dark" id="music"><strong>Books</strong></a>
        <a href="{{ url_for('sort', keyword='clothes') }}" class="list-group-item list-group-item-action btn btn-secondary bg-dark" id="music"><strong>Clothes</strong></a>
        <a href="{{ url_for('sort', keyword='bikes') }}" class="list-group-item list-group-item-action btn btn-secondary bg-dark" id="music"><strong>Bikes</strong></a>
        <a href="{{ url_for('sort', keyword='home') }}" class="list-group-item list-group-item-action btn btn-secondary bg-dark" id="music"><strong>Home</strong></a>
        <a href="{{ url_for('sort', keyword='electronics') }}" class="list-group-item list-group-item-action btn btn-secondary bg-dark" id="music"><strong>Electronics</strong></a>
    </div>


{% endblock %}