{% extends 'base.html' %}
{% block content %}

<div class="row text-center">
    <div class="center-align col s12">
        <h1 id="title" class="center-align underline">Circular Ecosystem</h1>
        <p>On this web app you can search, view, add and edit circular initiatives</p>
    </div>
</div>
<div id="search-box" class="row text-center pb-2 center-align">
    <div class="col-12">
        <!--Search input-->
        <div class="row pt-3 pb-3 text-center">
            <div class="center-align">
                <form action="{{ url_for('search') }}" method="POST" class="center-align">
                    <input id="searchTerm" name="search" placeholder="Search for a Circular Initiative here..." required>
                    <button type="submit" class="btn btn-danger cyan darken-4 text-white" for="search" id="search_btn">Search &nbsp; &nbsp;<i id="search-button" class="material-icons">search</i></button>
                </form>
            </div>
        </div>        
    </div>
</div>

{% endblock %}